---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title="About Page" page_description="This is the about page description.">

  <h1>
    About
  </h1>

  <p>
    Placeholder 'About' page content.
  </p>

</Layout>
