---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title="Contact Page" page_description="This is the contact page meta-description.">

  <h1>
    Contact
  </h1>

  <p>
    Placeholder 'Contact' page content.
  </p>

</Layout>

