---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page Title" description="This is the page description.">

  <h1>
    Welcome
  </h1>

  <p>
    This is an ultra basic website template I have put together using the Astro framework...
  </p>

</Layout>


