---
// import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
// import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const {
  title = "Example Title",
  description = "Example description.",
  image = "./../assets/placeholder-square.webp",
} = Astro.props;

import Layout from "../layouts/BaseLayout.astro";
---

<Layout title={title} description={description} image={image}>
  <p>Hello!</p>
</Layout>
