---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title="Page Title" page_description="This is the page description.">

  <h1>
    Hi.
  </h1>

  <p>
    This is an ultra basic website starter template I have started cobbling together using <a href="https://astro.build/">Astro</a>.
  </p>

</Layout>


