
---
const site_title = "Site Title";

interface Props {
	page_title: string;
	page_description: string;
}

const { page_title, page_description } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/";

---

<!doctype html>
<html lang="en">
	<head>
		<title>{page_title}</title>
		<meta name="description" content={page_description} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<header>
			<p><a href="/">{site_title}</a></p>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
        				<li><a href="/about">About</a></li>
        				<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<p>&copy; {site_title}</p>
		</footer>
	</body>
</html>

<script>
  const nav = document.querySelector(".navbar");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>

<style is:global>
	nav a.active{
		opacity:.5
	}
</style>
